.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1c002b !important;
  color: #fff !important;
  padding: 30px;
  height: 90% !important;
}

img {
  height: 40%;
  width: 50%;
  object-fit: cover;
}

Button {
  background-color: transparent !important;
  border: none !important;
}

.play {
  color: #fff;
  width: 20px;
  height: 20px;
}

.time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.can-con {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 50%;
  width: 100%;
}
